/*** Layout ***/
body {
	font: 13px/1.4 'Merriweather Sans', sans-serif;
	margin: 0;
	padding: 0;
	background: #f3f3f3;
	color: #222;
}

#header {
	background: #335;
	border-bottom: 5px solid #E4E2DA;

}

#header div.title {
	color: white;
	padding: 8px 0;
	font-size: 150%;
	text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 2px;
}

#header a {
	color: #FFF499;
}

#header div.user {
	padding: 12px 1em;
	color: #FFF;
	position: absolute;
	top: 0;
	right: 0;
}

#header div.user span {
  font-weight: bold;
  text-transform: capitalize;
}

#header-inner {
	width: 900px;
	margin: 0 auto;
	position: relative;
}

#container {
	overflow: hidden;
	width: 900px;
	margin: 0 auto;
}

#sidebar {
	float: left;
	width: 210px;
}

#content {
	margin-left: 220px;
	padding: 20px;
}

#footer {
	margin: 2em;
	text-align: center;
	font-size: smaller;
	color: #aaa;
	text-shadow: 1px 1px 1px #fff;
}

#footer a:link, #footer a:visited {
  color: #aaa;
  font-weight: bold;
}

/*** Sidebar menu ***/
div.sidebar-menu h2 {
  margin-left: 30px;
}
div.sidebar-menu ul {
  list-style: none;
  display: block;
}

div.sidebar-menu li {
  display: block;
}
div.sidebar-menu ul li ul {
  padding-left: 20px;
  font-size: 90%;
}

div.sidebar-menu a {
  font-size: 120%;
}


/*** Typo ***/
h1 {
	font-size: 230%;
	font-weight: 300;
	margin: 0 0 .6em;
}

h2 {
	font-size: 140%;
	font-weight: 300;
	margin: 1em 0 .6em;
}

a {
	color: #006aeb;
	text-decoration: none;
	border-radius: 3px;
}

a:hover, a:active, a:focus {
  text-decoration: underline;
}

a[href^='error:']:after {
content: 'Missing!';
text-transform: uppercase;
vertical-align: sub;
color: #aaa !important;
font-size: 8px;
font-weight: bold;
}

table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0;
	margin: 1em 0 2em;
}

thead th {
	text-align: left;
	color: #666;
}

th, td {
	padding: 5px 6px 4px;
}

td {
	border-top: 5px solid #f3f3f3;
}

tr.even {
	background-color: white;
}

tr.odd {
	background-color: #FCFAF5;
}

table.tasks tr.done {
	color: #888;
	text-decoration: line-through;
}

table.tasks .created {
	font-size: smaller;
	width: 70px;
	text-align: right;
	white-space: nowrap;
	color: #A07D1F;
}

table.tasks .list {
	width: 65px;
}

table.tasks .user {
	font-size: smaller;
}

table.tasks .action {
	width: 75px;
}


/*** Forms ***/
fieldset {
	border: none;
	margin: 1.5em 0;
	padding: 1ex 0;
}

legend {
	font-weight: bold;
	margin-left: 0;
}

label {
	font-weight: bold;
}

form div.pair {
	margin-bottom: 1ex;
}

form div.pair label {
	display: block;
	width: 130px;
	text-align: right;
	float: left;
	line-height: 2;
	vertical-align: middle;
}

form div.pair div.input {
	margin-left: 150px;
}

form div.pair div.input label {
	width: auto;
	display: inline;
	float: none;
	line-height: normal;
}

form ul.error {
	margin: 0;
	padding: 0;
	list-style: none;
}

form ul.error li {
	display: block;
	padding: .8em;
	margin-bottom: 1em;
	border: 2px solid #FBC2C4;
	background: #FBE3E4;
	color: #8a1f11;
}

input[type=text], input[type=password], select {
	border-radius: 3px;
	border: 1px solid silver;
	padding: .3em;
	margin-right: .5em;
}

input[type=checkbox] {
	vertical-align: middle;
}

/*** Unique Requests ***/

table.unique-requests td,
table.character-register td,
table.artifacts td,
table.ticket-list {
  background: #fff;
  margin: 5px;
}

h2.unique-name, h2.char-name {
  margin-top: 0;
}

.unique-meta, .char-meta, .meta-row {
  color: #777;
  font-size: 80%;
  text-transform: uppercase;
}

.meta-row ul {
  display: inline;
  list-style-type: none;
}

.unique-meta div, .char-meta div, .meta-row ul li {
  display: inline;
  margin-right: 10px;
}

.unique-meta a, .unique-meta a:link, .unique-meta a:visited,
.char-meta a, .char-meta a:link, .char-meta a:visited,
.meta-row a, .meta-row a:link, .meta-row a:visited {
  color: #777;
}

p.unique-desc, p.char-desc {
  font-size: 90%;
  color: #333;
}

.unique-state {
  padding: 0 5px;
  font-size: 80%;
  color: white;
}

.unique-votes {
  float: right;
}
.unique-votes span { margin-left: 5px; }
.unique-votes .positive, .unique-comments .positive { color: #690; }
.unique-votes .negative, .unique-comments .negative { color: #c00; }

/*** Unique State Labels ***/

.unique-state.approved { background: #690; }
.unique-state.declined { background: #c00; }

.unique-state.pending  { background: #f80; }
.unique-state.crafted  { background: #09c; }
.unique-state.closed,
.unique-state.cancelled{ background: #777; }

/*** Character Table ***/

.character-table, .karma-table { background: white; }
.character-table .char-name { 
  color: #006aeb; 
  font-size: 110%;
}
.ol-account, .ol-ip, .ol-played, .char-zone, .character-table .char-race,
.character-table th, .char-money, .karma-date {
  color: #777;
  font-size: 80%;
  text-transform: uppercase;
}
.char-zone, .char-race, .character-table .char-meta
{
  text-align: center;
}

/*** Karma ***/

.karma-value { text-align: center; width: 20px; }

.karma-reason { 
  color: #777;
  font-size: 80%;
}

.karma-date { width: 80px; text-align: center; }

.karma-table .negative { background: #faa; font-weight: bold }
.karma-table .positive { background: #dfd; }

span.invalidreason { margin: 5px; padding: 2px 5px; background: #800; color: white; font-weight: bold; }

/*** Events ***/
table.oncoming-events {
  background: white;
}
table.oncoming-events tr td {
  border-top: 1px solid #ddd;
}
table.oncoming-events tr:first-of-type td {
  border-top: 0;
}
.event-date { color: #777; font-size: 90%; }
.event-name {}
.event-desc { color: #999; font-size: 80%; font-style: italic; }
.event-category-0 { /* uncategorized/player event */
  color: #080;
}
.event-category-1 { /* moonphase */
  color: #666;
}

/*** Tickets ***/

table.ticket-list {
  text-align: center;
}

.ticket-list .ticket-player {
  font-weight: bold;
}

.ticket-list .ticket-player.online {
  color: #060;
}

.ticket-list .ticket-text {
  font-size: 80%;
  color: #555;
  text-align: left;
}

.ticket-list .ticket-response {
  font-style: italic;
}

.ticket-list .ticket-separator {
  margin: 5px 0;
  border-bottom: 2px dashed #ddd;
}

/*** Flash messages ***/
div.flash {
	padding: .8em;
	margin-bottom: 1em;
	border: 2px solid #ddd;
}

div.flash.success {
	background: #E6EFC2;
	color: #264409;
	border-color: #C6D880;
}

div.flash.info {
	background: #FFF6BF;
	color: #514721;
	border-color: #FFD324;
}

div.flash.error {
	background: #FBE3E4;
	color: #8a1f11;
	border-color: #FBC2C4;
}


/*** Icons ***/
tr .icon-autohide { color: white; }
tr:hover .icon-autohide { color: gray; }

